/* IMPORT */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@500&family=Open+Sans:wght@500;600&family=Poppins:wght@400;500;600&display=swap');
* {
    text-decoration: none;
}
:root {
    scroll-behavior: smooth !important;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #fff; 
}
   
::-webkit-scrollbar-thumb {
    background: #4456FF; 
    border-radius: 5px;
}

h4 {
    margin: 0;
    padding: 0;
}
/* font-family: 'Poppins', sans-serif; */
/* font-family: 'Bebas Neue', cursive; */
body {
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden !important;
}

.section {
    opacity: 0;
    transition: 1.9s all;
    transform: translateX(-100%);
}

.section.show {
    opacity: 1;
    transform: translateX(0);
}


.loading {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-image: url(../img/loading.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 450px 300px;
    background-color: #fff;
    z-index: 106;
}

#section-1 {
    width: 100%;
    position: relative;
    height: 100vh;
    overflow: hidden !important;
}

#section-1 .header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    transition: 600ms all;
    /* background-color: #833AE0; */
    /* border-bottom: 1px solid #833AE0; */
    align-items: center;
    padding: 0 10px;
}

.header .logo {
    margin-left: 20px;
    font-size: 30px;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 2px;
    user-select: none;
}

.logo h4 {
    transition: 700ms all;
}

.header nav {
    margin-right: 20px;
}

.header nav a {
    font-size: 1em;
    font-family: 'Poppins', sans-serif;
    color: #000;
    margin-right: 16px;
    padding: 5px;
    display: inline-block;
}

.header nav a::after {
    content: '';
    display: block;
    margin: 2px auto auto auto;
    width: 0;
    transition: 400ms width;
    height: 1px;
    background-color: #833AE0;
}

.header nav a:hover::after {
    width: 100%;
}
.header nav a:hover {
    color: #833AE0;
}

#section-1 .container {
    width: 100%;
    position: relative;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #222; */
}

.container .rows {
    display: flex;
    align-items: center;
}

.text-container {
    /* background-color: red; */
    color: #000;
    margin-right: 165px;
    opacity: 0;
    transition: 900ms opacity;
}

.text-container .small-txt {
    color: #222;
    font-size: 15px;
}

.text-container .target {
    padding: 6px;
    background-color: rgba(204, 204, 204, 0.319);
    border-radius: 5px;
    margin: 0;
    width: 50%;
    color: #833AE0;
    font-size: 14px;
}

.text-container h1 {
    font-size: 37px;
    letter-spacing: 1.7px;
    margin: 0 0 4px 0;
    font-family: 'Montserrat', sans-serif;
}

.vector-img {
    position: absolute;
    top: 55px;
    left: -1px;
    z-index: -1;
}

.vector-img-2 {
    position: absolute;
    right: -120px;
    top: 105px;
    z-index: -1;
}

.vector-img img {
    transform: scale(0);
    transition: 900ms all;
    filter: drop-shadow(1px 0px 5px #222222);
}
.vector-img-2 img {
    filter: drop-shadow(1px 0px 10px #4456FF);
}

.img-box {
   perspective: 500px;
}

.img-box img {
    filter: drop-shadow(1px 0px 5px #222222);
    transform: scale(0);
    /* transform-style: preserve-3d; */
    transition: 900ms all;
}

#img2.edit2 {
 animation-name: edit;
 animation-delay: 2s;
 animation-duration: 7s;
 animation-iteration-count: infinite;
}

@keyframes edit {
    0%,100% {
        opacity: .7;
    }

    25%{
        opacity: .8;
    }

    50% {
        opacity: .9;
    }
    75% {
        opacity: 1;
    }

} 

#img1.edit1 {
    animation-name: edit1;
    animation-duration: 9s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
   }
   
   @keyframes edit1 {
       0%,100% {
           transform: rotate(15deg);
       }
   
       50% {
        transform: rotate(-15deg);
       }
   
   } 



.img-box-2 {
    /* position: absolute;
    left: 30px;
    bottom: 15px; */
    margin-top: 15px;
}

.img-box-2 img {
    filter: drop-shadow(1px 0px 3px #222222);
    animation-name: animate3;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
.start-button {
    margin-top: 20px;
}
.start-button .start-btn {
    font-size: 1em;
    padding: 7px 14px;
    background-color: #4456FF;
    background-image: linear-gradient(
        -60deg,
        transparent,transparent 40%,
        #ccc 40%, #ccc 60%,
        transparent 60%, transparent 100%
    );
    background-size: 200% 100%;
    background-repeat: no-repeat;
    background-position-x: 150%;
    color: #fff;
    transition: transform 600ms;
    border-radius: 30px;
    display: inline-block;
}

.start-button .start-btn:hover {
    box-shadow: none;
    transform: scale(1.06) translateY(-7px);
    background-position-x: -150%;
    transition: 600ms all;
}


/* Section-2 */
/* Section-2 */
/* Section-2 */
/* Section-2 */
/* Section-2 */

.wrap {
    width: 100%;
    height: 100vh;
    position: absolute;
    overflow: hidden !important;
    bottom: 1px;
    z-index: -1;
    margin: 0 auto;
    perspective: 360px;
    perspective-origin: 50% 50%;
  }

.top-plane, .bottom-plane {
    width: 200%;
    height: 130%;
    position: absolute;
    bottom: -30%;
    left: -50%;
    background-image: -webkit-linear-gradient(#4456FF 2px, transparent 2px), -webkit-linear-gradient(left, #4456FF 2px, transparent 2px);
    background-size: 100px 100px,100px 100px;
    background-position: -1px -1px,-1px -1px;
    transform: rotateX(85deg);
    animation: planeMoveTop 2s infinite linear;
  }

  .bottom-plane {
    transform: rotateX(-85deg);
    top: -30%;
    animation: planeMoveBot 2s infinite linear;
  }

@keyframes planeMoveTop {
    from {
      background-position: 0px -100px,0px 0px;
    }
    to {
      background-position: 0px 0px, 100px 0px;
    }
  }
@keyframes planeMoveBot {
    from {
      background-position: 0px 0px,0px 0px;
    }
    to {
      background-position: 0px -100px, 100px 0px;
    }
  }
@media (max-height: 350px) {
    .wrap {
      perspective: 210px;
    }
  }

/* Animation */
/* Animation */
@keyframes animate3 {
    0%,100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.04);
    }
}

#section-2 {
    width: 100%;
    overflow-x: hidden !important;
    position: relative;
    justify-content: center;
    height: 100vh;
    /* background-color: rgba(71, 69, 69, 0.347); */
}

#section-2 .container-2 {
    width: 100%;
}

.container-2 .box-groups {
    width: 100%;
    display: flex;
    justify-content: center;
}

#section-2 .head-txt {
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: 90px;
    text-align: center;
}

#section-2 .head-txt::first-letter {
    color:#4456FF;
    font-size: 30px;
}


.box-groups .box {
    width: 330px;
    height: 330px;
    margin-right: 12px;
    display: flex;
    justify-content: center;
    box-shadow: 0px 4px 23px 1px rgba(0,0,0,0.75);
    align-items: center;
    flex-direction: column;
    border: 1px solid #4456FF;
    border-radius: 22px;
}
.box .heading-txt {
    font-size: 1.1em;
    margin-bottom: 15px;
    letter-spacing: 1px;
    font-weight: 600;
}

.box .main-txt {
    width: 260px;
    margin-bottom: 12px;
}

.main-txt.txt-2 {
    width: 285px;
}

.box-2 .vector-box {
    transform: translateY(-4px);
}

.box .vector-box img {
    animation: animate4 linear 2s infinite;
}

#section-2 .vector-img1 {
    position: absolute;
    top: 15px;
    opacity: .9;
    transform: rotate(110deg);
    left: -85px;

}

#section-2 .vector-img1 img {
    filter: drop-shadow(1px 0px 10px #4456FF);
}




/* section3 */
#section-3  {
    width: 100%;
    overflow: hidden !important;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#section-3 .contact-container {
    width: 90%;
    margin-top: 50px;
    padding: 40px 20px 40px 20px;
    background-color: #4456FF;
    border-radius: 15px;
}
.wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.contact-part {
    width: 50%;
}

.about-part .part-1 {
    font-size: 15px;
    letter-spacing: 1px;
    color: #fff;
    width: 560px;
    line-height: 25px;
    font-weight: 500;
}


.contact-part form {
    display: flex;
    flex-direction: column;
}

.contact-part form .same {
    position: relative;
    display: flex;
    align-items: center;
}

.same .etiket {
    font-size: 10px;
    background-color: #fff;
    opacity: .9;
    width: 76px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 26px;
    clip-path: polygon(16% 0, 100% 0%, 100% 100%, 16% 100%, 0 50%);
    display: flex;
    opacity: 0;
    transition: 600ms all;
    color: #000;
    border-radius: 7px;
    transform: translateX(7px) translateY(-5px);
}

.etiket img {
    transform: translateX(10px);
}

.contact-part form input {
    width: 80%;
    margin-bottom: 10px;
    padding: 2px 10px;
    outline: none;
    border: none;
    height: 30px;
    color: #fff !important;
    transition: 400ms all;
    border-radius: 25px;
    background-color: #333;
}
::placeholder {
    color: #fff;
    opacity: 1; /* Firefox */
    font-size: 11px;
  }
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #fff;
    font-size: 11px;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #fff;
    font-size: 11px;
}

form input:focus {
    transform: scale(1.02);
}

form input:focus ~ .etiket {
    opacity: 1;
}

.contact-part form textarea {
    background-color: #fff;
    border-left: 4px solid #257d31;
    border-radius: 12px;
    resize: none!important;
    outline: none;
    padding: 12px;
    font-family: Arial;
    width: 80%;
    line-height: 16px;
    letter-spacing: 1px;
    resize: none;
}

.contact-part .submit-button {
    background-color: #fff;
    padding: 7px 12px;
    border-radius: 25px;
    margin: 0 auto;
    margin-top: 10px;
    font-size: 15px;
    font-weight: 600;
    border: 1px solid #4456FF;
    color: #000;
    transition: 600ms all;
    letter-spacing: .9px;
    cursor: pointer;
    width: 140px;
}


@keyframes animate4 {
    0%,100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.04);
    }
}


/* Media quaries */
/* Media quaries */
/* Media quaries */
/* Media quaries */
@media (max-width: 1050px) {
    .box-groups .box {
        width: 310px;
        height: 310px;
    }

    #section-3 .contact-container {
        width: 95%;
    }
    .about-part .part-1 {
        width: 490px;
    }
    .contact-part form input {
        font-size: 13px;
    }

    .text-container {
        margin-right: 65px;
    }

    #section-1 {
        margin-bottom: 10px;
    }
    
}
@media (max-width: 1000px) {
    .text-container {
        width: 300px;
        margin-right: 240px;
    }

    .text-container h1 {
        font-size: 35px;
    }
    #section-1 .container {
        height: 550px;
    }
}

@media (max-width: 991px) {

    .box-groups {
        align-items: center;
    }

    .header nav a {
        font-size: 15px;
    }
    .box .main-txt {
        font-size: 15px;
    }

    #section-2 {
        margin-bottom: 50px;
    }

    .box-groups .box {
        width: 295px;
        margin-right: 8px;
        height: 300px;
    }
    #section-2 .vector-img1 {
        left: -95px;
        transform: rotate(110deg);
    }
    #section-3 {
        height: auto;
    }

    .wrapper {
        flex-direction: column;
    }
    .contact-part {
        width: 90%;
    }
    .contact-part .submit-button {
        width: 355px;
        padding: 7px;
        height: 38px;
        margin: 10px 0 0 0;
    }

    .contact-part form textarea {
        width: 79%;
    }

    .contact-part form input {
        height: 27px;
        font-size: 13px;
        letter-spacing: .4px;
    }

    .about-part .part-1 {
        font-size: 14px;
    }
    #section-3 .contact-container {
        margin-bottom: 25px;
    }

}



@media (max-width: 899px) {
    #section-2 {
        height: auto;
    }
    .box-groups {
        flex-direction: column;
    }
    .box-groups .box {
        margin: 0 0 10px 0;
    }

    .main-txt.txt-2 {
        width: 280px;
    }

    .vector-img img {
        width: 175px;
        height: 175px;
    }
    .header nav a {
        font-size: 15px;
    }
    .text-container {
        margin-right: 145px;
        margin-top: 15px;
    }
    .text-container .small-txt {
        font-size: 14px;
    }
    .text-container .target {
        font-size: 13px;
    }
    .header .logo {
        font-size: 26px;
    }
    .contact-part .submit-button {
        font-size: 14px;
        height: 32px;
        width: 330px;
    }
}

@media (max-width: 769px) {
    #section-3 .contact-container {
        width: 90%;
    }
    #section-1 {
        background-size: 1920px 150px;
    }
    .text-container {
        margin-right: 90px;
    }
    .text-container h1 {
        font-size: 30px;
    }
    .vector-img-2 {
        right: -145px;
        top: 20px;
    }
    .start-button .start-btn {
        padding: 6px 12px;
    }
    #section-2 .head-txt {
        font-size: 1.3em;
    }
    .img-box img {
        width: 180px;
        height: 180px;
    }
    .about-part .part-1 {
        font-size: 13px;
        width: 90%;
        line-height: 23px;
        letter-spacing: .8px;
    }
    .contact-part form input {
        height: 27px;
        font-size: 12px;
    }
    #section-3 .contact-container {
        margin-bottom: 10px;
    } 

}

@media (max-width: 599px) {

    .container-2 .box-groups {
        padding-bottom: 20px;
    }

    #section-3 .contact-container {
        margin-bottom: 1px;
    }

    #section-1 {
        background-size: 1920px 80px;
    }
    .rows {
        flex-direction: column-reverse;
        align-items: center;
    }
    #section-1 .container {
        height: 475px;
    }
    .text-container h1 {
        font-size: 29px;
        text-align: center;
    }
    .text-container {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .img-box {
        position: absolute;
        right: -15px;
        bottom: -110px;
    }
    .text-container .target {
        text-align: center;
    }
    .vector-img-2 {
        right: -145px;
        top: 210px;
    }
    .header nav a {
        font-size: 14px;
    }

    .img-box img {
        width: 175px;
        height: 175px;
    }
    .vector-img {
        position: absolute;
        top: 45px;
        left: -40px;
    }
    .vector-img img {
        width: 170px;
        height: 170px;
    }
    .start-button .start-btn {
        padding: 6px 12px;
    }



}

@media (min-width: 506px) {
    .hamburger-menu {
        display: none;
    }
    #section-1 .header {
        flex-direction: row;
        align-items: center;
        padding: 0;
    }

    .header nav {
        display: block ;
    }
    .start-button .start-btn {
        padding: 5px 10px;
    }
    .container-2 .box-groups {
        padding-bottom: 20px;
    }

}

@media (max-width: 516px) {
    .same .etiket {
      display: none;  
    } 

    .contact-part form .same {
        display: block;
    }
    .contact-part form input {
        width: 83%;
    }

    .contact-part form input:focus {
        transform: scale(1.01);
    }

    .contact-part {
        width: 100%;
    }
    #header {
        box-shadow: none !important;
    }
    #section-3 .contact-container {
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    .text-container {
        margin-right: 0;
    }
    .contain-nav {
        width: 100%;
        transition: 500ms all;
        height: 100vh;
        z-index: 99;
        clip-path: circle(0% at 100% 0%);
        position: fixed;
        background: #833AE0;
    }

    .contain-nav.active2 {
        clip-path: circle(105% at 100% 0%);
    }

    #section-2 {
        min-height: 100vh;
        overflow: hidden;
        margin-bottom: 30px;
    }



    #section-1 {
        background-image: none;
    }
    #section-1 .header {
        flex-direction: column;
        align-items: center;
        padding: 0;
    }
    .header nav {
        display: flex;
        flex-direction: column;
        margin: 0;
        margin-top: 40px;
        width: 100%;
        align-items: flex-end;
    }
    .header .logo {
        margin: 0;
        align-items: center;
    }
    .header nav a {
        margin: 0;
        color: #fff;
    }
    .header nav a:hover {
        transform: scale(1.05);
        color: #fff;
    }
    .header .logo {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .logo h4 {
        margin-left: 7px;
    }
    .hamburger-menu {
        display: block;
        width: 35px;
        height: 35px;
        overflow: hidden;
        top: 10px;
        right: 10px;
        z-index: 100;
        cursor: pointer;
        position: fixed;
    }

    .hamburger-menu span {
        position: absolute;
        background-color: #4456FF;
        height: 3px;
        transition: 500ms width;
    }
    .hamburger-menu span:nth-child(1) {
        top: 7px;
        right: 3px;
        width: 25px;
    }
    .hamburger-menu span:nth-child(2) {
        top: 14px;
        right: 3px;
        height: 2px;
        width: 20px;
    }
    .hamburger-menu span:nth-child(3) {
        top: 22px;
        right: 3px;
        height: 2px;
        width: 15px;
    }
    /* active */
    .hamburger-menu.active span:nth-child(1) {
        width: 25px;
        transform: rotateZ(45deg) translate(5px,7px);
        background-color: #fff !important;
    }
    .hamburger-menu.active span:nth-child(2) {
        width: 20px;
        transform: translateX(60px);
        background-color: #fff !important;
        transition: 1s all;
    }
    .hamburger-menu.active span:nth-child(3) {
        width: 25px;
        transform: rotateZ(-45deg) translate(3px,-5px);
        background-color: #fff !important;
    }

    .img-box img {
        width: 170px;
        height: 170px;
    }
    .img-box {
        right: -5px;
        bottom: -64px;
        top: auto;
        z-index: -1;
    }
    .vector-img-2 {
        right: -163px;
        z-index: -1;
        top: 85px;
    }

    .about-part .part-1 {
        font-size: 12px;
        line-height: 21px;
    }
    .contact-part .submit-button {
        font-size: 13px;
        height: 30px;
        width: 315px;
    }
    .contact-part form textarea {
        width: 350px;
    }
    .same .etiket {
        font-size: 9px;
        width: 65px;
        height: 22px;
        transform: translateX(1px) translateY(-5px);
    }
}

@media (max-width: 450px) {
    .contact-part {
        width: 100%;
    }
    .contact-part form textarea {
        width: 310px;
        height: 160px;
    }
    .text-container h1 {
        font-size: 26px;
    }
    .vector-img img {
        width: 170px;
        height: 170px;
    }
    .img-box img {
        width: 170px;
        height: 170px;
    }
    .img-box-2 img {
        width: 26px;
        height: 30px;
    }
    .logo h4 {
        font-size: 25px;
    }
    #section-2 .vector-img1 {
        left: -115px;
    }
    #section-2 .head-txt {
        font-size: 1.3em;
    }

    #section-2 .head-txt::first-letter {
        font-size: 1.4em;
    }
    .main-txt.txt-2 {
        width: 255px;
    }
    .box-groups .box {
        width: 280px;
        box-shadow: 0px 4px 12px 1px rgb(0 0 0 / 75%);
        height: 285px;
    }
    .box .main-txt {
        font-size: 14px;
    }
    .box .vector-box img {
        width: 120px;
        height: 120px;
    }
}

@media (max-width: 405px) {
    .contact-part form input {
        font-size: 11px;
        height: 24px;
    }
    .contact-part form textarea {
        width: 305px;
        height: 160px;
    }
    .contact-part .submit-button {
        width: 90%;
    }
    .same .etiket {
        font-size: 8px;
        width: 51px;
        height: 17px;
        transform: translateX(2px) translateY(-5px);
    }
}

@media (max-width: 380px) {
    .contact-part form input {
        width: 93%;   
    }
    #section-3 .contact-container {
        padding: 40px 30px 40px 10px;
    }
}

@media (max-width: 350px) {

    .contact-part form textarea {
        width: 250px;
        height: 145px;
    }
    .text-container h1 {
        font-size: 22px;
    }
    .vector-img img {
        width: 150px;
        height: 150px;
    }
    .img-box img {
        width: 150px;
        height: 150px;
    }
    .img-box-2 img {
        width: 25px;
        height: 29px;
    }
    .header nav a {
        font-size: 13px;
        border-bottom: 1px solid #833AE0;
    }
    .logo h4 {
        font-size: 24px;
    }
    .text-container .small-txt {
        font-size: 13px;
    }
    .header nav {
        margin-bottom: 5px;
    }
    .hamburger-menu span:nth-child(1) {
        height: 2px;
    }
    .hamburger-menu span:nth-child(2) {
        height: 2px;
    }
    .hamburger-menu span:nth-child(3) {
        height: 2px;
    }
}