body,html {
    margin: 0;
    padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

.container {
    width: 100%;
    height: 87vh;
    background-image: url("bg.jpeg");
    background-attachment: fixed;
    background-position: center;
    position: relative;
    background-size: cover;
}

.nav {
    width: 100%;
    height: 7vh;
    background-color :#FF8D77;
    z-index: 10;
    position: fixed;
}
nav {
    display: flex;
    justify-content: space-around;
}

nav h2 {
    color: #fff;
    font-size: 1.9rem;
    letter-spacing: 1.2px;
}

nav ul li {
    display: inline-block;

}

nav ul li a {
    width: 78px;
    height: 32px;
    text-align: center;
    padding-top: 10px;
    color: #fff;
    text-decoration: none;
    font-size: 17px;
    display: block;
    /* background-color:#26435F; */
    font-family: 'Open Sans', sans-serif;
    border-radius: 4px;
}
nav ul li a:hover {
    background-color: #26435f;
}

.third {
    background-color: #26435f;
}

span {
    display: inline-block;
    width: 7px;
    height: 7px;
    transform: translateX(-3px);
    background-repeat: no-repeat;
    clip-path: circle(50% at 50% 50%);
    background-size: 6px 6px;
    background-image: url("icon.png");
}

.text{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-40%);
    padding: 25px 45px;
    position: absolute;
    background-color: #69524e9a;
}

.text h1 {
    font-size: 3.2rem;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
}

.text h2 {
    font-size: 2.8rem;
    color: #fff;
    white-space: nowrap;
    font-family: 'Open Sans', sans-serif;
}


.container-2 {
    width: 100%;
    height: 50vh;
    background-color: #fff;
    position: relative;
}

.head-text {
    text-align: center;
}

.head-text h2 {
    font-size: 2.8rem;
    color: #000;
    margin-bottom: 29px;
    font-family: 'Open Sans', sans-serif;
}

.head-text p {
    font-size: 15px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}

.images {
    display: flex;
    justify-content: center;
}
.photo {
    display: flex;
    margin-top: 35px;
}

.img {
   width: 340px;
   /* border: 1px solid springgreen; */
   height: 210px; 
   text-align: center;
   padding: 10px 7px;
   margin-left: 7px;
}

.img h2 {
    font-size: 2.3rem;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
}

.img p {
    font-size: 16px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}

.far {
    color: #FE8E78;
    font-size: 5.5rem;
    margin: 0 auto;
}

