body{
   background-color:rgb(66, 66, 66);
}

.salam{
    width: 75px;
    height: 35px;
    border: cornsilk 3px solid;
    margin: 300px auto;
    text-align: center;
}








a{
    text-decoration: none;
    color: cornsilk;
    margin-top: 3px;
}

a:hover{


}
















