/* Font import */
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@600&family=Open+Sans:wght@500;600&family=Poppins:wght@500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap');body {
    margin: 0;
    padding: 0;
    box-sizing: border;
    width: 100%;
    overflow-x: hidden !important;
    display: flex;
    scroll-behavior: smooth;
    flex-direction: column;
}

::-webkit-scrollbar {
    width: 7px;
  }
  
::-webkit-scrollbar-track {
  background: #222; 
}
 
::-webkit-scrollbar-thumb {
    background: #888;
       border-radius: 5px;

}


body.overflow {
    overflow: hidden;
}
.overlay.active-2 {
    z-index: -1 !important;
    background-color: #222;
}

#section-1 {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    overflow: hidden !important;
    z-index: 4;
    transition: 1500ms all ease;
    /* background-attachment: fixed */
    position: relative;
    animation-name: animateBackground;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    background-image: url("image/bg-image.jpg");
}
#section-1 img {
    width: 100%;
    height: 100vh;
}
.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    transition: 1800ms background-color ease;
    left: 0;
    top: 0;
    z-index: -1;
}


#section-1 header {
    width: 100%;
    padding-bottom: 10px;
    display: flex;
    transition: .5s all ease;
    opacity: 1;
    border-bottom: 1px solid #ccc;
    justify-content: space-between;
    opacity: 1;
    align-items: center;
}

#section-1 .heading-part {
    margin: 12px 0 0 10px;
}

header .nav {
    margin-right: 15px;
    transform: translateY(3px);
}

header .nav a {
    color: #fff;
    opacity: .9;
    margin-right: 3px;
    font-size: 1em;
    text-align: center;
    letter-spacing: 1px;
    position: relative;
    padding: 6px 7px;
    text-decoration: none;
    font-weight: 400;
    font-family: 'Source Sans Pro', sans-serif;
}
header .nav a:hover {
    color: #fff;
    opacity: 1;
}
header .nav a::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    transition: 500ms all ease;
    display: block;
    height: 2px;
    background-color: #fff;
}

header .nav a::before {
    content: '';
    position: absolute;
    transition: 500ms all ease;
    bottom: 0;
    right: 0;
    width: 0;
    display: block;
    height: 2px;
    background-color: #fff;
}

header .nav a:hover::after{
    width: 90%;
}

header .nav a:hover::before{
    width: 88%;
}

.heading-part .logo-txt {
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 4px;
    transition: 650ms all;
}



.wrapper {
    width: 400px;
    overflow-x: hidden;
    position: absolute;
    top: 38%;
    left: 14%;

}


#section-1 .text-box {
    width: 380px;
    color: #fff;
    letter-spacing: 1px;
    font-weight: 600;
    opacity: 0;
    line-height: 60px;
    transition: 600ms opacity ease;
    font-size: 45px;
    font-family: 'Source Sans Pro', sans-serif;

}
.wrapper .btn-box {
    width: 50%;
    margin-left: 0;
    margin-bottom: 7px;
    opacity: 0;
}
 
.wrapper .btn-box a {
    width: 50px;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    text-decoration: none;
    animation: sa 2s infinite;
    height: 50px;
    transition: 1000ms opacity ease;
    background-color: #888;
}

@keyframes sa {
    0% {transform: translateY(3px);}
    25% {transform: translateY(-3px);}
    50% {transform: translateY(3px);}
    75% {transform: translateY(-3px);}
    100% {transform: translateY(3px);}
}


.wrapper .btn-box a i {
    font-size: 1.7em;
    color: #000;
}





.contain-menu {
    display: none;
    cursor: pointer;
}


@media (max-width: 1200px) {
    .wrapper .btn-box a i {
        font-size: 1.5em;
        color: #000;
    }
    .wrapper .btn-box a {
        width: 45px;
        height: 45px;
    }
    #section-1 .text-box {
        font-size: 34px;
        width: 300px;
    }
}

@media (max-width: 992px) {
    #section-1 .text-box {
        font-size: 35px;
    }

    .wrapper .btn-box a {
        width: 45px;
        height: 45px;
    }

}


@media (max-width: 768px) {
    .contain-menu {
        display: block;
    }

    .wrapper {
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
    }


    #section-1 .text-box {
        width: 100%;
        font-size: 30px;
        text-align: center;
    }.wrapper .btn-box a {
        margin: 0 auto;
    }
     .wrapper .btn-box {
        margin-left: 0;
        width: 100%;
    }

    /* Header */
    #section-1 header {
        display: flex;
        /* align-items: center; */
    }

    #section-1 .heading-part {
       display: flex;
       align-items: center;
       justify-content: space-between;
       width: 100%;
    }

    .contain-menu {
        width: 40px;
        height: 40px;
        position: relative;
        transform: translateY(0);
        margin-right: 20px;
        overflow-x: hidden;
        margin-right: 10px;
        /* background-color: red; */
    }
    .contain-menu i {
        font-size: 2em;
        color: #fff;
        transition: 500ms all ease;
    }
    .contain-menu span {
        width: 25px;
        border-radius: 5px;
        height: 2px;
        position: absolute;
        transition: 700ms all ease;
        display: block;
        background-color: #fff;
    }

    .contain-menu span:nth-child(1) {
        top: 8px;
    }
    .contain-menu span:nth-child(2) {
        top: 16px;
    }
     .contain-menu span:nth-child(3) {
        top: 24px;
    }

    .contain-menu.show span:nth-child(1) {
        transform: rotateZ(45deg) translate(5px,6px);
    }
    .contain-menu.show span:nth-child(2) {
        transform: translateX(50px);
    }
    .contain-menu.show span:nth-child(3) {
        transform: rotateZ(-45deg) translate(5px,-6px);
    }
    

    header .nav {
        display: flex;
        flex-direction: column;
        width: 100%;
        position: fixed;
        transition: 600ms left ease;
        left: -100%;
        right: 0;
        top: 61px;
        /* opacity: 0;
         background-color: #222;
        transform: scale(0); */
        align-items: center;
        border-bottom: 2px solid #ccc;
    }

    header .nav.active {
        left: 0;
        background-color: #222;
    }

    .nav.active header {
        background-color: #222;
    }
    header .nav a {
        border-bottom: 1px solid #888;
        margin-bottom: 3px;
        width: 100%;
    }
    header .nav a:last-child {
        border: none;
        margin-bottom: 4px;
    }


}


@media (max-width: 500px) {
    #section-1 .text-box {
        font-size: 24px;
        margin: 0 auto;
        width: 250px;
    }
}

