/* all media quares */

@media screen and (max-width: 992px) {

    .text span, p {
        text-align: center;
    }
    
    .colTwo{
        justify-content: center;
        align-items: center;
    }

    .row {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .text span {
        font-size: 1.1em;
    }
    .text p {
        font-size: 1.1em;
    }
    .social-media i {
        font-size: 1.2em;
    }
    
    #autoTxt  {
        font-size: 1.1em;
    }
    .contact-text h2 {
        font-size: 1.6em;
    }
    .contact-text p {
        color: #ccc;
        font-weight: 400;
        font-family: Font1;
        letter-spacing: 1;
    }
    .image-card, .text-card {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .image-card {
        border: none;
    }
}

@media screen and (max-width: 762px) {
    .menuLogo {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        right: 10px;
        top: 10px;
     }
     .myProfileImage {
         transform: scale(0.7);
     }

    .atr {
        /* flex: 2; */
    }
    .container-fluid {
        flex-direction: column;
    }
    .nav {
        flex-direction: column;
        align-items: center;
        position: fixed;
        left: -100%;
        padding: 0 12px;
        /* right: 0; */
        margin: 0;
        top: 60px;
        justify-content: center;
    }
    .nav.active {
        left: 0;
        z-index: 99;
        padding-right: 10px;
        padding-left: 10px;
        right: 0;
    }
    .wrapper-2 {
        max-width: 440px !important;
    }
    .nav.active a {
       margin: 0;
    }
    .nav a {
        text-align: center;
        background-color: #343a40;
        display: block;
        border-radius: 30px;
        opacity: .9;
        color: #fff;
        border-bottom: 1px solid rgb(160, 160, 160);
        width: 100%;
    }
    .nav a:nth-child(2) {
        margin-top: 3px;
    }

    .active-2 span:nth-child(1) {
        transform: rotateZ(45deg) translate(5px,6px);
    }
    

    .active-2 span:nth-child(3) {
        transform: rotateZ(-45deg) translate(5px,-6px);
    }
    .active-2 span:nth-child(2) {
        transform: translateX(30px);
        background-color: rebeccapurple;
        opacity: 0;
    }
    .menuLogo span {
        width: 25px; 
    }
    .myPhoto {
        width: 80px;
        height: 75px;
    }

    .image-card, .text-card {
        justify-content: center;
        align-items: center;
    }

}

@media screen and (max-width: 425px){
    .colTwo {
        margin-top: 40px !important;
    }
    .nav a {
        font-size: 12px !important;
    }
    .container {
        padding: 25px 25px 30px 25px;
    }
    .wrapper-2 {
       width: 255px;
       position: static;
    }
    .image-card {
        flex-direction: column;
        margin-bottom: 30px;
    }
    .myProfileImage {
        transform: scale(0.5);
    }
    .container {
        padding: 0 !important;
        margin: 0 auto;
    }

}
